@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@500;700&display=swap');

html {
  scroll-behavior: smooth;
}

@theme {
  --color-background: #FFFFFF;
  --color-background2: #f9fafb;
  --color-nav: #111111;
  --color-accent: #6214C8;

  --font-heading: "Oswald", "Impact", sans-serif;
  --font-text: "Inter", sans-serif;
}

@layer components {
  .navigation {
    @apply sticky top-0 z-50 bg-white/95 backdrop-blur-sm w-full border-b border-gray-100;
  }

  .navigation-inactive {
    @apply hover:text-accent font-bold tracking-widest uppercase transition-colors duration-300 text-sm
  }

  .navigation-active {
    @apply text-accent hover:text-accent font-bold tracking-widest uppercase transition-colors duration-300 text-sm
  }

  .small-heading-white {
    @apply font-heading text-6xl font-black uppercase italic;
  }

  .heading-white {
    @apply font-heading text-6xl md:text-9xl font-black text-white uppercase italic -skew-x-10 mb-6  drop-shadow-lg;
  }

  .heading-black {
    @apply font-heading text-5xl font-bold uppercase mb-8 italic;
  }

  .section-white {
    @apply py-24 bg-white;
  }

  .section-gray {
    @apply py-24 bg-gray-50 border-t border-gray-100;
  }

  .section-dark {
    @apply py-24 bg-gray-900 text-white;
  }

  .section-div {
    @apply max-w-7xl mx-auto px-6;
  }

  .btn-primary {
    @apply inline-block border-2 border-accent text-accent font-bold text-sm px-10 py-3 uppercase tracking-[0.2em] transition-all duration-300 hover:bg-accent hover:text-white;
  }

  .image-card {
    @apply bg-white p-4 rounded-xl border border-gray-200 shadow-xl transition-transform duration-300 hover:-translate-y-2;
  }

  .image-content {
    @apply h-80 rounded-lg overflow-hidden relative;
  }
  
  .image-img {
    @apply absolute inset-0 w-full h-full object-cover transition-transform duration-500 ease-in-out hover:scale-110;
  }

  .image-content-avatar {
    @apply w-72 h-72 mx-auto mb-8 md:mb-0;
    
    @apply transition-transform duration-300 ease-in-out hover:-translate-y-3 drop-shadow-md hover:drop-shadow-2xl cursor-pointer;
  }

  .image-avatar {
    @apply w-full h-full rounded-full object-cover border-4 border-gray-100 group-hover:border-[var(--color-accent)] transition-colors duration-300;
  }

  .link-button {
    @apply inline-block border-2 border-accent text-accent font-bold text-sm px-10 py-3 uppercase tracking-[0.2em] transition-all duration-300 hover:bg-accent hover:text-white
  }

  .footnote {
    @apply bg-gray-900 text-white py-10 text-center border-t border-gray-800;
  }
}